:root {
  --Actions-Tab-ItemTab-Article: '\EA7B';
  --Actions-Tab-ItemTab-Search: '\EA6D';
  --Actions-Tab-ItemTab-Archive: '\EA98';
  --Actions-Tab-ItemTab-Tag: '\EA66';
  --Actions-Tab-ItemTab-Secret: '\EB11';
  --Toolbar-ItemTab-User: '\EB99';
  --Toolbar-ItemTab-Settings: '\EB51';
  --Editor-tips: 要寻找什么入口/信息嘛 owo ?;
}
