#articleArtice {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#articleArtice #content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#articleArtice .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://img1.imgtp.com/2023/01/16/ivFw7qtw.png');
  background-repeat: no-repeat;
  background-position: center;
}
